boto3
botocore
dj-database-url
Django
django-ckeditor
django-js-asset
django-storages
django-tagging
django-widget-tweaks
docutils
easy-thumbnails
gunicorn
jmespath
Pillow
python-dateutil
python-decouple
pytz
s3transfer
six
sqlparse
urllib3
whitenoise
psycopg2